$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color: white;
    text-decoration: none;
}

body {
    padding-top: 80px;
}

.jumbotron {
    background: #000 url("jumbotron-bg.jpg") center center;
    
    .well {
        background-color: rgba(245, 245, 245, 0.85);
    }
}

.jumbotron-text {
    background-color: white;
}

.alert {
    margin-top: 20px;
    margin-bottom: 0px;
}

.nav_item {
    margin-left: 25px;
    float: left;
    margin-top: 20px;
}

.nav_ul_item {
    padding-left: 25px;
    float: left;
    margin-top: 20px;
}

.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}

body.modal-open {
    overflow: hidden;
}

.center {
    text-align: center;
}

h1, h2, h3, h4 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

.left {
    text-align: left;
    letter-spacing: 0.5px;
}

.footer {
    margin-top: 25px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

.chef_info {
    margin-top: 10px;
}

.gravatar {
    border-radius: 10px;
}

.well {
    background-color: #EDEDED;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
}

.input_checkbox input {
    width: auto !important;
}

input {
    height: auto !important;
}

span.picture {
 margin-top: 10px;
 
 input {
     border: 0;
 }
}

.show_recipe {
    margin: 10px 10px 10px 10px;
    
    img {
        max-height: 730px;
        max-width: 730px;
    }
}

.index_recipe_img {
    max-height: 250px;
    max-width: 250px;
}

.v_center {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-bottom: 20px;
}

.img_col {
    width: 250px;
    padding: 0px;
    margin-left: 35px;
}

.like_icon {
    color: #a8a8a8;
}

.selected_like {
    font-weight: bolder;
    color: #66a266;
}

.selected_dislike {
    font-weight: bolder;
    color: #ff6666;
}

.pagination {
    margin-bottom: 0px;
}

.unauth_review_footer {
    background-color: #f9fafa;
    margin-bottom: 40px;
    padding: 10px;
    border: 2px solid #EDEDED;
}

.review_count {
    font-size: 0.923em;
    color: #777;
}

.review_title {
    color: black;
    margin-bottom: 0px;
    margin-top: 60px;
}

.review {
    background-color: #f9fafa;
    width: 100%;
    margin-bottom: 40px;
    padding: 10px;
    border: 2px solid #EDEDED;
    overflow: hidden;
}

.review_header {
    font-size: 20px;
    color: black;

    div {
        display: inline-block;
    }
}

.review_header_left {
    width: 90%;
}

.review_header_right {
    width: 10%;
}

.review_timestamp {
    font-size: 15px;
    font-style: italic;
    text-align: right;
    width: 100%;
    color: #808080;
}

.review_submit {
    width: 15%;
    float: right;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-left-10 {
    margin-left: 10px;
}

.padding-left-30 {
    padding-left: 30px;
}