.rating {
    margin: 0;
    padding-left: 0px;
}

.rating_small {
    margin: 0;
    padding-left: 0px;
    margin-bottom: -3px;
}

.rating_star {
    background: image-url("star_sprite.png") no-repeat;
    background-position: 0 -40px;
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.rating_star_small {
    background: image-url("star_unfilled_small.png") center center;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    margin-bottom: -6px;
}

.rating_radio {
    display: none;
}

.on {
    background-position: 0 0;
}

.on_small {
    background: image-url("star_filled_small.png") center center;
}